
<extend name="Layout:Layout" />

<block name="main-content">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">Tables</a>
                </li>
                <li class="active">jqGrid plugin</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    jqGrid
                    <small>
                        <i class="icon-double-angle-right"></i>
                        Dynamic tables and grids using jqGrid plugin
                    </small>
                    <a class="pull-right" href="__MODULE__/MyFootsteps/addMyFootsteps">添加新的足迹</a>
                </h1>
            </div><!-- /.page-header -->
            <script type="text/javascript">
                $.ajax({
                    url:"__MODULE__/MyFootsteps/Allinfo",
                    type:"get",
                    dataType:"json",
                    async:true,
                    data:'',
                    success:function(data){
                        alert(data);
                    }
                });
            </script>
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

</block>